<app-navbar></app-navbar>

<div class="titulo">
<h1>Saída de Veículos</h1>

<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Verificar saída
</button>
</div>

<div
class="modal fade"
id="exampleModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Saída de veículos</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="form-group col-md-6">
        <label for="placa"> Placa </label>
        <input type="text" class="form-control" id="placa" />

        <label for="placa"> Hora entrada </label>
        <input type="text" class="form-control" id="valor" />


        <label for="placa"> Hora saída </label>
        <input type="text" class="form-control" id="valor" />

        <label for="placa"> Valor total </label>
        <input type="text" class="form-control" id="valor" />


        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Pago
        </label>
      </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" data-bs-dismiss="modal">
        Salvar
      </button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>
</div>

<div class="lista-cadastro">
<table class="table caption-top">
  <thead class="table-dark">
    <tr>
      <th scope="col"> Placa </th>
      <th scope="col"> Hora de Entrada</th>
      <th scope="col"> Hora de Saída</th>
      <th scope="col"> Valor </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> EBI-9827 </th>
      <td> 12:09</td>
      <td> 15:45 </td>
      <td> R$15,00 </td>
    </tr>
    <tr>
      <th scope="row"> HEF-9827</th>
      <td> 11:30</td>
      <td> 12:45 </td>
      <td> R$10,00 </td>
    </tr>
    <tr>
      <th scope="row"> EJH-3345</th>
      <td> 18:00</td>
      <td> 23:45 </td>
      <td> R$20,00 </td>
    </tr>
  </tbody>
</table>
</div>
