<body>
  <header>
    <input type="checkbox" id="check" />
    <label for="check">
      <i class="fas fa-bars fa-2x menu"></i>
    </label>
    <nav>
      <ul>
        <li id="logo">
          <i class="fas fa-parking fa-2x"></i> <a href="index.html"> LOGO </a>
        </li>
        <li>
          <i class="fas fa-car"></i>
          <a [routerLink]="['/entrada']"> Entrada </a>
        </li>
        <li><i class="fas fa-car-side"></i> <a href="#"> Saída </a></li>
        <li>
          <i class="fas fa-users"></i> <a href="usuarios.html"> Clientes </a>
        </li>
        <li>
          <i class="fas fa-history"></i>
          <a [routerLink]="['/login']"> Histórico </a>
        </li>

        <li>
          <i class="fas fa-sign-out-alt"></i>
          <a [routerLink]="['/login']"> Sair </a>
        </li>
      </ul>
    </nav>
  </header>
</body>
