<body>
  <header>
    <input type="checkbox" id="check" />
    <label for="check">
      <i class="fas fa-bars fa-2x menu"></i>
    </label>
    <nav>
      <ul>
        <li id="logo">
          <i class="fas fa-parking fa-2x"></i> <a href="index.html"> LOGO </a>
        </li>
        <li><i class="fas fa-home"> </i> <a href="index.html"> Home </a></li>
        <li>
          <i class="fas fa-tachometer-alt"></i> <a href="#"> Dashboard </a>
        </li>
        <li><i class="fas fa-file-upload"></i> <a href="#"> Upload </a></li>
        <li>
          <i class="fas fa-photo-video"></i>
          <a href="galeria.html"> Galeria </a>
        </li>
        <li>
          <i class="fas fa-users"></i> <a href="usuarios.html"> Usuários </a>
        </li>
        <li>
          <i class="fas fa-history"></i> <a [routerLink]="['/']"> Histórico </a>
        </li>

        <li>
          <i class="fas fa-sign-out-alt"></i> <a [routerLink]="['/']"> Sair </a>
        </li>
      </ul>
    </nav>
  </header>
</body>
